.container{
  line-height: 1.15;
  font-size: 0.5rem;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 0 0 / cover;
}
.main{
  /* 限定大小 */
  min-width: 1024px;
  max-width: 1920px;
  min-height: 780px;
  width:100%;
  margin: 0 auto;
  background: url(~@/assets/images/background/logo.png) no-repeat 0 0 / contain;
  display: flex;
  padding: 3.667rem 0.833rem 0;
}



